@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
/* Media Queries: Tablet Landscape */
*,
*::before,
*::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    font-family: "Jost", sans-serif;
}

.img-container {
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
  }
/**
.preloader {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    
  }
  
  .circle {
    border-radius: 2rem;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.4);
    position: absolute;
    opacity: 0;
  }
  
  .circle1 {
    background-color: #ff1b26;
    width: 38rem;
    height: 58rem;
  }
  
  .circle2 {
    background-color: #fb7f85;
    width: 37rem;
    height: 57rem;
  }
  
  .circle3 {
    background-color: #f8c1c4;
    width: 35rem;
    height: 55rem;
  }

**/



.main_div {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}



/*place-items: auto | normal | start | end | flex-start | flex-end | self-start | self-end | center | left | right | baseline | first baseline | last baseline | stretch | initial | inherit; */
.music_container {
    position: relative;
    width: 35rem;
    height: 55rem;
    -webkit-appearance: none;
    border-radius: 2rem;
    box-shadow: -10px -10px 15px rgba(255,255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  /*  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2); */
    padding: 3rem;
    border: 1px solid #ececec;
    outline: none;
    text-align: center;

}

.music_container #title {
    text-transform: uppercase;
    letter-spacing: 01.2rem;
    word-spacing: 00.5rem;
    color: #171717;
    margin: 2rem 0 0.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_container #artist {
    color: #cccaca;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

.img-container {
    width: 25rem;
    height: 25rem;
    margin: auto;
}

img {
    /* make the img object fit and circle */
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
}
.music_controls{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 7rem;
}
.music_controls .fas {
    color: #7a7a7a;
    font-size: 4rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0, 0.4));
}

.music_controls .main_button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #ffffff;
    color: #f6f6f6;
/* add display flex to center the icons */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

input[type="checkbox"]{
    height: 80px;
    width: 80px;
    -webkit-appearance: none;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70,70,70,0.12);
    position: absolute;
    border-radius: 50%;
    border: .5px solid #ececec;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input[type="checkbox"]:after{
    font-family: FontAwesome;
    content: '\f04b';
    color: #7a7a7a;
    font-size: 40px;
}

input[type="checkbox"]:checked{
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
input[type="checkbox"]:checked:after{
    color: #15e38a;
}
/*
.music_controls .fa-play:hover {
    color: grey;
}

.music_controls .fa-play:hover {
    background-color: #f6f6f6;
    color: #111;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}
*/
/*add anime class to animate */
.anime {
    animation: rotatePlayer 3s linear infinite;
}

@keyframes rotatePlayer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}